In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
eng_df = pd.read_excel(r'EPL_understat.xlsx')
eng_df = eng_df.sort_values(by='date',ascending=False)
fra_df = pd.read_excel(r'Ligue1_understat.xlsx')
fra_df = fra_df.sort_values(by='date',ascending=False)
ger_df = pd.read_excel(r'Bundesliga_understat.xlsx')
ger_df = ger_df.sort_values(by='date',ascending=False)
ita_df = pd.read_excel(r'SerieA_understat.xlsx')
ita_df = ita_df.sort_values(by='date',ascending=False)
spa_df = pd.read_excel(r'LaLiga_understat.xlsx')
spa_df = spa_df.sort_values(by='date',ascending=False)

eng_h = pd.read_excel(r'EPL_Home_Away.xlsx',sheet_name='home')
eng_a = pd.read_excel(r'EPL_Home_Away.xlsx',sheet_name='away')
fra_h = pd.read_excel(r'Ligue1_Home_Away.xlsx',sheet_name='home')
fra_a = pd.read_excel(r'Ligue1_Home_Away.xlsx',sheet_name='away')
ger_h = pd.read_excel(r'Bundesliga_Home_Away.xlsx',sheet_name='home')
ger_a = pd.read_excel(r'Bundesliga_Home_Away.xlsx',sheet_name='away')
ita_h = pd.read_excel(r'SerieA_Home_Away.xlsx',sheet_name='home')
ita_a = pd.read_excel(r'SerieA_Home_Away.xlsx',sheet_name='away')
spa_h = pd.read_excel(r'LaLiga_Home_Away.xlsx',sheet_name='home')
spa_a = pd.read_excel(r'LaLiga_Home_Away.xlsx',sheet_name='away')

               Team  played      xG     xGC   G  GC  GD  Pts   PPG
0   Atletico Madrid      19  45.709  14.655  48  16  32   55  2.89
1       Real Madrid      20  50.343  18.555  49  14  35   51  2.55
2            Girona      19  35.590  24.368  45  22  23   44  2.32
3         Barcelona      20  51.426  23.713  42  21  21   44  2.20
4     Athletic Club      19  39.245  17.399  38  18  20   39  2.05
5     Real Sociedad      19  31.164  19.263  30  19  11   36  1.89
6            Getafe      17  25.030  21.796  19  14   5   32  1.88
7          Valencia      18  25.474  18.823  22  13   9   33  1.83
8        Real Betis      20  33.208  20.244  26  16  10   35  1.75
9           Osasuna      19  27.777  23.080  26  24   2   33  1.74
10       Las Palmas      13  14.219  16.394  17  10   7   22  1.69
11         Mallorca      19  21.144  17.521  21  14   7   30  1.58
12       Villarreal      20  44.053  31.153  38  31   7   29  1.45
13           Alaves      13  21.260  14.395  14  16  -2   18  1.38
14   Rayo Vallecano      19  25.566  26.228  23  31  -8   22  1.16
15          Sevilla      19  30.731  27.246  25  28  -3   22  1.16
16            Cadiz      19  23.155  21.284  16  23  -7   22  1.16
17       Celta Vigo      19  27.480  25.708  16  24  -8   18  0.95
18          Almeria      18  27.486  26.973  20  27  -7   17  0.94
19          Granada      13  19.264  22.061  16  22  -6   12  0.92

In [22]:
def find_ranks(home_df,away_df):
    rank1 = []
    rank2 = []
    rank3 = []
    q1_h = home_df['PPG'].quantile(0.25)
    q1_a = away_df['PPG'].quantile(0.25)
    q3_h = home_df['PPG'].quantile(0.75)
    q3_a = away_df['PPG'].quantile(0.75)
    home_df['Rank'] = home_df.apply(lambda x: 1 if x['PPG'] <= q1_h else( 3 if x['PPG'] >= q3_h else 2), axis=1) 
    away_df['Rank'] = away_df.apply(lambda x: 1 if x['PPG'] <= q1_a else( 3 if x['PPG'] >= q3_a else 2), axis=1) 

    return home_df,away_df

In [23]:
eng_h_rank,eng_a_rank = find_ranks(eng_h,eng_a)
fra_h_rank,fra_a_rank = find_ranks(fra_h,fra_a)
ger_h_rank,ger_a_rank = find_ranks(ger_h,ger_a)
ita_h_rank,ita_a_rank = find_ranks(ita_h,ita_a)
spa_h_rank,spa_a_rank = find_ranks(spa_h,spa_a)

spa_a_rank

               Team  played      xG     xGC   G  GC  GD  Pts   PPG  Rank
0       Real Madrid      18  32.034  24.859  29  17  12   36  2.00     3
1         Barcelona      18  35.762  19.750  35  24  11   33  1.83     3
2            Girona      20  32.205  39.411  32  26   6   34  1.70     3
3     Real Sociedad      19  26.653  24.708  21  18   3   27  1.42     3
4     Athletic Club      19  26.257  23.160  19  23  -4   25  1.32     3
5        Villarreal      18  23.527  33.325  27  33  -6   23  1.28     2
6        Real Betis      18  19.378  31.466  17  25  -8   22  1.22     2
7   Atletico Madrid      19  31.107  31.725  32  26   6   23  1.21     2
8           Sevilla      19  19.411  29.642  23  22   1   23  1.21     2
9        Las Palmas      13  10.355  24.081   9  16  -7   14  1.08     2
10          Osasuna      19  17.435  34.371  19  28  -9   19  1.00     2
11         Valencia      19  19.963  28.231  21  30  -9   19  1.00     2
12   Rayo Vallecano      20  21.005  30.303  15  30 -15   17  0.85     2
13           Alaves      13  14.019  19.510  11  16  -5   11  0.85     2
14           Getafe      21  21.757  35.090  21  35 -14   15  0.71     2
15         Mallorca      19  23.546  36.754  17  36 -19   12  0.63     1
16       Celta Vigo      19  19.465  35.119  24  33  -9   12  0.63     1
17            Cadiz      19  18.002  42.682  10  29 -19   10  0.53     1
18          Almeria      20  21.049  43.724  24  47 -23    7  0.35     1
19          Granada      12  11.783  21.393  11  27 -16    2  0.17     1

In [ ]:
# Apply rank to overall dataframe, and then group in tables by rank like in home vs away