In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [62]:
eng_df = pd.read_excel(r'EPL_understat.xlsx',sheet_name='gamesheet')
eng_df = eng_df.sort_values(by='date',ascending=False)
fra_df = pd.read_excel(r'Ligue1_understat.xlsx',sheet_name='gamesheet')
fra_df = fra_df.sort_values(by='date',ascending=False)
ger_df = pd.read_excel(r'Bundesliga_understat.xlsx',sheet_name='gamesheet')
ger_df = ger_df.sort_values(by='date',ascending=False)
ita_df = pd.read_excel(r'SerieA_understat.xlsx',sheet_name='gamesheet')
ita_df = ita_df.sort_values(by='date',ascending=False)
spa_df = pd.read_excel(r'LaLiga_understat.xlsx',sheet_name='gamesheet')
spa_df = spa_df.sort_values(by='date',ascending=False)

In [61]:
eng_df

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,QS,QSC,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc
62,0,2024-02-26 20:00:00,West Ham22153,West Ham,h,2.097,1.360,4,2,17,14,3,2,3,Brentford,1,0,0,0,0
63,0,2024-02-26 20:00:00,Brentford22153,Brentford,a,1.360,2.097,2,4,14,17,2,3,0,West Ham,1,0,0,0,0
60,0,2024-02-25 13:30:00,Wolverhampton Wanderers22154,Wolverhampton Wanderers,h,1.216,0.657,1,0,13,12,1,0,3,Sheffield United,0,0,1,0,0
61,0,2024-02-25 13:30:00,Sheffield United22154,Sheffield United,a,0.657,1.216,0,1,12,13,0,1,0,Wolverhampton Wanderers,0,1,0,0,0
75,0,2024-02-24 20:00:00,Newcastle United22146,Newcastle United,a,0.217,2.593,1,4,4,18,0,3,0,Arsenal,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,0,2023-03-11 12:30:00,Liverpool18462,Liverpool,a,2.135,1.101,0,1,15,5,4,2,0,Bournemouth,0,1,0,0,0
758,0,2023-03-04 17:30:00,Southampton18460,Southampton,h,1.343,1.671,1,0,11,11,1,3,3,Leicester,0,0,1,0,0
759,0,2023-03-04 17:30:00,Leicester18460,Leicester,a,1.671,1.343,0,1,11,11,3,1,0,Southampton,0,1,0,0,0
756,0,2023-03-04 15:00:00,Wolverhampton Wanderers18461,Wolverhampton Wanderers,h,0.565,1.264,1,0,8,22,0,0,3,Tottenham,0,0,1,0,0
757,0,2023-03-04 15:00:00,Tottenham18461,Tottenham,a,1.264,0.565,0,1,22,8,0,0,0,Wolverhampton Wanderers,0,1,0,0,0

In [32]:
teamlist_eng = []
teamlist_fra = []
teamlist_ger = []
teamlist_ita = []
teamlist_spa = []

In [33]:
def teamlist(df,teamlist):
    team_array = df["Team"].unique()
    for team in team_array:
        teamlist.append(team)
    teamlist = sorted(set(teamlist))
    return teamlist

In [35]:
teamlist_eng = teamlist(eng_df, teamlist_eng)
teamlist_fra = teamlist(fra_df, teamlist_fra)
teamlist_ger = teamlist(ger_df, teamlist_ger)
teamlist_ita = teamlist(ita_df, teamlist_ita)
teamlist_spa = teamlist(spa_df, teamlist_spa)
# teamlist_spa

['Alaves',
 'Almeria',
 'Athletic Club',
 'Atletico Madrid',
 'Barcelona',
 'Cadiz',
 'Celta Vigo',
 'Elche',
 'Espanyol',
 'Getafe',
 'Girona',
 'Granada',
 'Las Palmas',
 'Mallorca',
 'Osasuna',
 'Rayo Vallecano',
 'Real Betis',
 'Real Madrid',
 'Real Sociedad',
 'Real Valladolid',
 'Sevilla',
 'Valencia',
 'Villarreal']

In [57]:
def last10(df):

    temp_df = df
    temp_df['date'] = pd.to_datetime(temp_df['date'])
    temp_df['date_int'] = (datetime.datetime.now()) - (temp_df['date'])
    temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
    temp_df.reset_index(inplace=True)
    temp_df.drop(['level_0','level_1','date_int'],axis=1,inplace=True)
    return temp_df

In [69]:
eng_l10 = last10(eng_df)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/EPL_last10.xlsx") as writer:
    eng_l10.to_excel(writer, sheet_name="last10")
eng_l10

C:\Users\User\AppData\Local\Temp\ipykernel_13112\1115547838.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,QS,QSC,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc
0,0,2024-02-24 20:00:00,Arsenal22146,Arsenal,h,2.593,0.217,4,1,18,4,3,0,3,Newcastle United,1,0,0,0,0
1,0,2024-02-17 15:00:00,Arsenal22136,Arsenal,a,2.216,0.335,5,0,16,8,2,0,3,Burnley,0,0,1,0,0
2,0,2024-02-11 14:00:00,Arsenal22133,Arsenal,a,3.999,0.196,6,0,25,5,6,0,3,West Ham,0,0,1,0,0
3,0,2024-02-04 16:30:00,Arsenal22116,Arsenal,h,2.986,0.542,3,1,16,10,6,0,3,Liverpool,1,0,0,0,0
4,0,2024-01-30 19:30:00,Arsenal22108,Arsenal,a,1.391,0.632,2,1,19,9,1,1,3,Nottingham Forest,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,0,2024-01-22 19:45:00,Wolverhampton Wanderers22095,Wolverhampton Wanderers,a,1.231,1.400,0,0,8,11,1,2,1,Brighton,0,1,1,0,0
226,0,2023-12-30 15:00:00,Wolverhampton Wanderers22094,Wolverhampton Wanderers,h,2.645,0.532,3,0,12,10,3,0,3,Everton,0,0,1,0,0
227,0,2023-12-27 19:30:00,Wolverhampton Wanderers22077,Wolverhampton Wanderers,a,1.895,2.600,4,1,11,14,4,4,3,Brentford,1,0,0,0,0
228,0,2023-12-24 13:00:00,Wolverhampton Wanderers22073,Wolverhampton Wanderers,h,1.765,1.765,2,1,14,16,3,2,3,Chelsea,1,0,0,0,0
229,0,2023-12-17 14:00:00,Wolverhampton Wanderers22064,Wolverhampton Wanderers,a,0.556,1.038,0,3,14,13,0,1,0,West Ham,0,1,0,0,0

In [70]:
fra_l10 = last10(fra_df)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/Ligue1_last10.xlsx") as writer:
    fra_l10.to_excel(writer, sheet_name="last10")
fra_l10

C:\Users\User\AppData\Local\Temp\ipykernel_13112\1115547838.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,QS,QSC,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc
0,0,2023-06-03 17:00:00,Ajaccio20018,Ajaccio,h,0.129,1.250,1,0,3,17,0,2,3,Marseille,0,0,1,0,0
1,0,2023-05-27 19:00:00,Ajaccio20014,Ajaccio,a,0.191,2.297,0,3,6,12,0,3,0,Lens,0,1,0,0,0
2,0,2023-05-21 11:00:00,Ajaccio19998,Ajaccio,h,0.063,2.094,0,5,2,13,0,2,0,Rennes,0,1,0,0,0
3,0,2023-05-13 19:00:00,Ajaccio19992,Ajaccio,a,0.314,2.345,0,5,8,16,0,3,0,Paris Saint Germain,0,1,0,0,0
4,0,2023-05-07 13:00:00,Ajaccio19978,Ajaccio,h,0.211,2.592,0,0,4,15,0,4,1,Toulouse,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,0,2023-04-30 13:00:00,Troyes19977,Troyes,h,0.625,3.653,0,1,9,29,0,4,0,Nice,0,1,0,0,0
216,0,2023-04-23 13:00:00,Troyes19962,Troyes,a,1.847,1.984,2,2,9,19,3,2,1,Nantes,1,0,0,0,0
217,0,2023-04-16 18:45:00,Troyes19952,Troyes,a,0.406,4.029,1,3,4,28,1,5,0,Marseille,1,0,0,0,0
218,0,2023-04-09 13:00:00,Troyes19947,Troyes,h,0.488,1.861,0,2,9,12,0,2,0,Clermont Foot,0,1,0,0,0
219,0,2023-04-01 15:00:00,Troyes19928,Troyes,a,1.214,1.166,0,1,14,13,1,1,0,Auxerre,0,1,0,0,0

In [71]:
ger_l10 = last10(ger_df)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/Bundesliga_last10.xlsx") as writer:
    ger_l10.to_excel(writer, sheet_name="last10")
ger_l10

C:\Users\User\AppData\Local\Temp\ipykernel_13112\1115547838.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,QS,QSC,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc
0,0,2024-02-25 18:30:00,Augsburg23264,Augsburg,h,2.492,1.426,2,1,19,5,3,2,3,Freiburg,1,0,0,0,0
1,0,2024-02-17 14:30:00,Augsburg23257,Augsburg,a,0.612,2.625,0,1,10,18,0,3,0,Mainz 05,0,1,0,0,0
2,0,2024-02-10 14:30:00,Augsburg23251,Augsburg,h,0.967,1.789,2,2,11,9,1,3,1,RasenBallsport Leipzig,1,0,0,0,0
3,0,2024-02-03 14:30:00,Augsburg23242,Augsburg,a,1.394,1.167,1,1,14,10,1,2,1,Bochum,1,0,0,0,0
4,0,2024-01-27 14:30:00,Augsburg23234,Augsburg,h,2.685,2.275,2,3,15,13,3,3,0,Bayern Munich,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0,2024-01-20 14:30:00,Wolfsburg23225,Wolfsburg,a,1.221,1.195,1,1,14,12,1,1,1,FC Heidenheim,1,0,0,0,0
196,0,2024-01-13 14:30:00,Wolfsburg23212,Wolfsburg,a,0.419,0.366,1,1,9,11,0,0,1,Mainz 05,1,0,0,0,0
197,0,2023-12-20 19:30:00,Wolfsburg23204,Wolfsburg,h,0.313,3.157,1,2,5,20,0,5,0,Bayern Munich,1,0,0,0,0
198,0,2023-12-16 14:30:00,Wolfsburg23199,Wolfsburg,a,0.587,0.948,1,0,11,14,0,1,3,Darmstadt,0,0,1,0,0
199,0,2023-12-09 14:30:00,Wolfsburg23185,Wolfsburg,h,1.329,0.511,0,1,10,4,2,1,0,Freiburg,0,1,0,0,0

In [72]:
ita_l10 = last10(ita_df)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/SerieA_last10.xlsx") as writer:
    ita_l10.to_excel(writer, sheet_name="last10")
ita_l10

C:\Users\User\AppData\Local\Temp\ipykernel_13112\1115547838.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,QS,QSC,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc
0,0,2024-02-25 19:45:00,AC Milan22560,AC Milan,h,1.394,1.072,1,1,20,8,2,1,1,Atalanta,1,0,0,0,0
1,0,2024-02-18 19:45:00,AC Milan22548,AC Milan,a,1.337,1.619,2,4,16,12,2,1,0,Monza,1,0,0,0,0
2,0,2024-02-11 19:45:00,AC Milan22539,AC Milan,h,1.373,0.502,1,0,10,12,2,0,3,Napoli,0,0,1,0,0
3,0,2024-02-03 17:00:00,AC Milan22531,AC Milan,a,2.013,1.067,3,2,13,7,3,1,3,Frosinone,1,0,0,0,0
4,0,2024-01-27 19:45:00,AC Milan22518,AC Milan,h,3.601,2.108,2,2,14,15,6,3,1,Bologna,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,0,2024-01-20 17:00:00,Verona22510,Verona,a,1.098,1.457,1,2,12,9,1,3,0,Roma,1,0,0,0,0
226,0,2024-01-13 17:00:00,Verona22503,Verona,h,1.251,0.721,2,1,11,14,2,0,3,Empoli,1,0,0,0,0
227,0,2024-01-06 11:30:00,Verona22491,Verona,a,1.484,2.185,1,2,8,15,2,3,0,Inter,1,0,0,0,0
228,0,2023-12-30 17:00:00,Verona22479,Verona,h,0.812,0.782,0,1,11,9,1,1,0,Salernitana,0,1,0,0,0
229,0,2023-12-23 17:00:00,Verona22470,Verona,h,0.987,1.209,2,0,13,12,1,1,3,Cagliari,0,0,1,0,0

In [73]:
spa_l10 = last10(spa_df)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/LaLiga_last10.xlsx") as writer:
    spa_l10.to_excel(writer, sheet_name="last10")
spa_l10

C:\Users\User\AppData\Local\Temp\ipykernel_13112\1115547838.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,QS,QSC,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc
0,0,2024-02-24 17:30:00,Alaves22943,Alaves,h,0.502,1.822,1,1,9,15,0,2,1,Mallorca,1,0,0,0,0
1,0,2024-02-18 20:00:00,Alaves22934,Alaves,a,0.491,1.183,0,0,13,13,0,2,1,Real Betis,0,1,1,0,0
2,0,2024-02-10 13:00:00,Alaves22919,Alaves,h,2.161,1.290,1,1,17,12,3,1,1,Villarreal,1,0,0,0,0
3,0,2024-02-03 17:30:00,Alaves22910,Alaves,h,1.157,1.558,1,3,13,8,2,3,0,Barcelona,1,0,0,0,0
4,0,2024-01-26 20:00:00,Alaves22904,Alaves,a,2.061,1.808,3,0,11,19,3,3,3,Almeria,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,0,2024-01-20 15:15:00,Villarreal22893,Villarreal,h,1.733,0.431,1,1,18,8,1,0,1,Mallorca,1,0,0,0,0
226,0,2024-01-13 13:00:00,Villarreal22882,Villarreal,a,1.712,0.964,0,3,17,8,3,1,0,Las Palmas,0,1,0,0,0
227,0,2024-01-02 20:30:00,Villarreal22866,Villarreal,a,1.154,2.781,1,3,8,11,2,4,0,Valencia,1,0,0,0,0
228,0,2023-12-20 20:30:00,Villarreal22864,Villarreal,h,2.658,1.989,3,2,12,15,4,3,3,Celta Vigo,1,0,0,0,0
229,0,2023-12-17 20:00:00,Villarreal22849,Villarreal,a,0.422,3.225,1,4,3,22,1,5,0,Real Madrid,1,0,0,0,0