In [122]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [123]:
eng_df = pd.read_excel(r'EPL_understat.xlsx',sheet_name='gamesheet')
eng_df = eng_df.sort_values(by='date',ascending=False)
fra_df = pd.read_excel(r'Ligue1_understat.xlsx',sheet_name='gamesheet')
fra_df = fra_df.sort_values(by='date',ascending=False)
ger_df = pd.read_excel(r'Bundesliga_understat.xlsx',sheet_name='gamesheet')
ger_df = ger_df.sort_values(by='date',ascending=False)
ita_df = pd.read_excel(r'SerieA_understat.xlsx',sheet_name='gamesheet')
ita_df = ita_df.sort_values(by='date',ascending=False)
spa_df = pd.read_excel(r'LaLiga_understat.xlsx',sheet_name='gamesheet')
spa_df = spa_df.sort_values(by='date',ascending=False)

In [124]:
eng_df

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,SC,QS,QSC,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc
62,0,2024-02-26 20:00:00,West Ham22153,West Ham,h,2.097,1.360,4,2,17,14,3,2,3,Brentford,1,0,0,1,0
63,0,2024-02-26 20:00:00,Brentford22153,Brentford,a,1.360,2.097,2,4,14,17,2,3,0,West Ham,1,0,0,0,1
60,0,2024-02-25 13:30:00,Wolverhampton Wanderers22154,Wolverhampton Wanderers,h,1.216,0.657,1,0,13,12,1,0,3,Sheffield United,0,0,1,1,0
61,0,2024-02-25 13:30:00,Sheffield United22154,Sheffield United,a,0.657,1.216,0,1,12,13,0,1,0,Wolverhampton Wanderers,0,1,0,0,1
75,0,2024-02-24 20:00:00,Newcastle United22146,Newcastle United,a,0.217,2.593,1,4,4,18,0,3,0,Arsenal,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,0,2023-03-11 12:30:00,Liverpool18462,Liverpool,a,2.135,1.101,0,1,15,5,4,2,0,Bournemouth,0,1,0,0,1
758,0,2023-03-04 17:30:00,Southampton18460,Southampton,h,1.343,1.671,1,0,11,11,1,3,3,Leicester,0,0,1,1,0
759,0,2023-03-04 17:30:00,Leicester18460,Leicester,a,1.671,1.343,0,1,11,11,3,1,0,Southampton,0,1,0,0,1
756,0,2023-03-04 15:00:00,Wolverhampton Wanderers18461,Wolverhampton Wanderers,h,0.565,1.264,1,0,8,22,0,0,3,Tottenham,0,0,1,1,0
757,0,2023-03-04 15:00:00,Tottenham18461,Tottenham,a,1.264,0.565,0,1,22,8,0,0,0,Wolverhampton Wanderers,0,1,0,0,1

In [125]:
teamlist_eng = []
teamlist_fra = []
teamlist_ger = []
teamlist_ita = []
teamlist_spa = []

In [126]:
def teamlist(df,teamlist):
    team_array = df["Team"].unique()
    for team in team_array:
        teamlist.append(team)
    teamlist = sorted(set(teamlist))
    return teamlist

In [127]:
teamlist_eng = teamlist(eng_df, teamlist_eng)
teamlist_fra = teamlist(fra_df, teamlist_fra)
teamlist_ger = teamlist(ger_df, teamlist_ger)
teamlist_ita = teamlist(ita_df, teamlist_ita)
teamlist_spa = teamlist(spa_df, teamlist_spa)
# teamlist_spa

In [128]:
def last10(df):

    temp_df = df
    temp_df['played'] = 1
    temp_df['date'] = pd.to_datetime(temp_df['date'])
    temp_df['date_int'] = (datetime.datetime.now()) - (temp_df['date'])
    temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
    temp_df.reset_index(inplace=True)
    temp_df.drop(['level_0','level_1','date_int'],axis=1,inplace=True)
    return temp_df

In [129]:
eng_l10 = last10(eng_df)
fra_l10 = last10(fra_df)
ger_l10 = last10(ger_df)
ita_l10 = last10(ita_df)
spa_l10 = last10(spa_df)
spa_l10

C:\Users\User\AppData\Local\Temp\ipykernel_13112\99453013.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_13112\99453013.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_13112\99453013.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_13112\99453013.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))
C:\Users\User\AppData\Local\Temp\ipykernel_13112\99453013.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  temp_df = temp_df.groupby(['Team'],as_index=False).apply(lambda x: x.nsmallest(10, 'date_int'))

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,...,QS,QSC,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc,played
0,0,2024-02-24 17:30:00,Alaves22943,Alaves,h,0.502,1.822,1,1,9,...,0,2,1,Mallorca,1,0,0,1,0,1
1,0,2024-02-18 20:00:00,Alaves22934,Alaves,a,0.491,1.183,0,0,13,...,0,2,1,Real Betis,0,1,1,0,0,1
2,0,2024-02-10 13:00:00,Alaves22919,Alaves,h,2.161,1.290,1,1,17,...,3,1,1,Villarreal,1,0,0,1,0,1
3,0,2024-02-03 17:30:00,Alaves22910,Alaves,h,1.157,1.558,1,3,13,...,2,3,0,Barcelona,1,0,0,0,1,1
4,0,2024-01-26 20:00:00,Alaves22904,Alaves,a,2.061,1.808,3,0,11,...,3,3,3,Almeria,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,0,2024-01-20 15:15:00,Villarreal22893,Villarreal,h,1.733,0.431,1,1,18,...,1,0,1,Mallorca,1,0,0,1,0,1
226,0,2024-01-13 13:00:00,Villarreal22882,Villarreal,a,1.712,0.964,0,3,17,...,3,1,0,Las Palmas,0,1,0,0,1,1
227,0,2024-01-02 20:30:00,Villarreal22866,Villarreal,a,1.154,2.781,1,3,8,...,2,4,0,Valencia,1,0,0,0,1,1
228,0,2023-12-20 20:30:00,Villarreal22864,Villarreal,h,2.658,1.989,3,2,12,...,4,3,3,Celta Vigo,1,0,0,1,0,1
229,0,2023-12-17 20:00:00,Villarreal22849,Villarreal,a,0.422,3.225,1,4,3,...,1,5,0,Real Madrid,1,0,0,0,1,1

In [130]:
def table_creator(df):
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1
    # df = df[~(df['match_ID'] <= 21925)]
    df_ov = df.groupby(["Team"]).agg({'played':'sum', 'xG':'sum','xGC':'sum', 'G':'sum', 'GC':'sum', 'Pts':'sum',
                                      'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum'})
    df_ov['played'] = pd.to_numeric(df_ov['played'])
    df_ov['Pts'] = pd.to_numeric(df_ov['Pts'])
    df_ov['G'] = pd.to_numeric(df_ov['G'])
    df_ov['GC'] = pd.to_numeric(df_ov['GC'])
    df_ov['GD'] = df_ov['G'] - df_ov['GC']
    df_ov['PPG'] = round(df_ov['Pts'] / df_ov['played'],2)
    df_ov = df_ov[~(df_ov['played'] <= 20)]
    df_ov = df_ov[['played','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS','Blank','CS','first_goal','first_conc']]
    df_ov = df_ov.sort_values('PPG', ascending=False)
    return df_ov

In [131]:
eng_l10_table = table_creator(eng_df)
fra_l10_table = table_creator(fra_df)
ger_l10_table = table_creator(ger_df)
ita_l10_table = table_creator(ita_df)
spa_l10_table = table_creator(spa_df)

In [134]:
def home_away_table_form(df):
    df_h_a = df.groupby(["Team","H/A"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby("H/A")]
    away_table = h_a_sep[0].droplevel("H/A")
    home_table = h_a_sep[1].droplevel("H/A")
    home_table = home_table.apply(pd.to_numeric)
    away_table = away_table.apply(pd.to_numeric)
    home_table['GD'] = home_table['G'] - home_table['GC']
    away_table['GD'] = away_table['G'] - away_table['GC']
    home_table['PPG'] = round(home_table['Pts'] / home_table['played'],2)
    away_table['PPG'] = round(away_table['Pts'] / away_table['played'],2)
    home_table['BTTS%'] = round(home_table['BTTS'] / home_table['played'],2)
    away_table['BTTS%'] = round(away_table['BTTS'] / away_table['played'],2)
    home_table['Blank%'] = round(home_table['Blank'] / home_table['played'],2)
    away_table['Blank%'] = round(away_table['Blank'] / away_table['played'],2)
    home_table['CS%'] = round(home_table['CS'] / home_table['played'],2)
    away_table['CS%'] = round(away_table['CS'] / away_table['played'],2)
    home_table['FG%'] = round(home_table['first_goal'] / home_table['played'],2)
    away_table['FG%'] = round(away_table['first_goal'] / away_table['played'],2)
    home_table['FC%'] = round(home_table['first_conc'] / home_table['played'],2)
    away_table['FC%'] = round(away_table['first_conc'] / away_table['played'],2)
    home_table = home_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    away_table = away_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    home_table = home_table.sort_values('PPG', ascending=False)
    away_table = away_table.sort_values('PPG', ascending=False)

    return home_table, away_table

In [135]:
eng_l10_table_h,eng_l10_table_a = home_away_table_form(eng_l10)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/EPL_last10.xlsx") as writer:
    eng_l10_table_h.to_excel(writer, sheet_name="last10_home")
    eng_l10_table_a.to_excel(writer, sheet_name="last10_away")

eng_l10_table_h

,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,,,,,,,,,,,,,,,,,
Tottenham,6,15.349,10.110,15,8,7,15,2.50,98,79,21,15,1.00,0.00,0.00,0.50,0.50
Arsenal,5,14.794,3.308,14,4,10,12,2.40,111,39,23,3,0.40,0.20,0.40,0.80,0.20
Liverpool,6,20.609,5.024,16,6,10,14,2.33,163,49,26,8,0.83,0.17,0.17,0.50,0.33
Manchester City,6,13.423,5.938,11,4,7,14,2.33,127,37,17,8,0.50,0.00,0.50,0.83,0.17
Chelsea,4,10.460,4.597,7,5,2,9,2.25,57,47,17,4,0.50,0.00,0.50,1.00,0.00
Brighton,4,8.940,3.831,9,4,5,8,2.00,62,40,13,3,0.75,0.25,0.25,0.50,0.25
Crystal Palace,5,7.563,4.751,11,7,4,10,2.00,64,52,8,6,0.80,0.00,0.20,0.60,0.40
West Ham,6,7.144,9.995,10,9,1,11,1.83,62,95,9,13,0.33,0.33,0.50,0.50,0.33
Wolverhampton Wanderers,5,9.010,8.032,9,7,2,9,1.80,72,68,10,10,0.40,0.20,0.40,0.60,0.40
Manchester United,4,5.078,5.484,9,6,3,7,1.75,55,65,5,3,0.75,0.00,0.25,0.50,0.50
Fulham,5,8.504,9.199,6,6,0,7,1.40,81,78,12,13,0.60,0.40,0.20,0.20,0.60
Aston Villa,5,12.398,9.815,10,10,0,7,1.40,82,55,16,15,1.00,0.00,0.00,0.40,0.60
Leicester,5,9.380,8.616,6,8,-2,7,1.40,61,90,12,8,0.60,0.40,0.00,0.20,0.80
Luton,6,12.366,11.941,10,10,0,6,1.00,95,82,13,15,0.67,0.00,0.33,0.50,0.50
Newcastle United,5,13.847,10.917,12,12,0,5,1.00,94,71,17,13,0.80,0.00,0.20,0.60,0.40
Nottingham Forest,6,7.523,6.591,9,11,-2,6,1.00,75,76,11,6,0.67,0.17,0.17,0.50,0.50
Bournemouth,4,5.030,4.303,4,6,-2,4,1.00,49,45,6,5,0.25,0.50,0.25,0.50,0.50
Everton,4,8.171,5.299,4,6,-2,3,0.75,50,58,12,5,0.75,0.25,0.25,0.25,0.50
Brentford,5,8.144,9.862,7,15,-8,3,0.60,53,78,13,17,1.00,0.00,0.00,0.40,0.60
Leeds,5,7.549,12.421,6,18,-12,2,0.40,65,73,9,17,1.00,0.00,0.00,0.60,0.40
Burnley,5,4.653,8.519,3,12,-9,2,0.40,56,73,5,9,0.40,0.60,0.00,0.20,0.80
Sheffield United,4,9.411,10.023,4,15,-11,1,0.25,61,66,14,13,0.50,0.50,0.00,0.00,1.00
Southampton,5,3.138,10.219,5,13,-8,1,0.20,46,77,2,15,0.40,0.60,0.00,0.00,1.00

In [136]:
fra_l10_table_h,fra_l10_table_a = home_away_table_form(fra_l10)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/Ligue1_last10.xlsx") as writer:
    fra_l10_table_h.to_excel(writer, sheet_name="last10_home")
    fra_l10_table_a.to_excel(writer, sheet_name="last10_away")

fra_l10_table_h

,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,,,,,,,,,,,,,,,,,
Lille,5,16.126,4.766,13,1,12,13,2.60,95,28,23,6,0.20,0.00,0.80,0.80,0.20
Lyon,5,9.578,4.568,8,3,5,12,2.40,56,62,12,4,0.20,0.00,0.80,0.80,0.20
Rennes,4,10.715,3.459,8,4,4,9,2.25,55,52,14,2,0.75,0.00,0.25,0.75,0.25
Brest,5,9.651,3.357,8,1,7,11,2.20,83,47,14,3,0.20,0.20,0.80,0.80,0.00
Paris Saint Germain,5,11.170,4.187,11,6,5,11,2.20,70,36,14,4,1.00,0.00,0.00,0.60,0.40
Marseille,6,15.152,3.943,13,6,7,12,2.00,91,52,25,3,0.83,0.00,0.17,0.67,0.33
Nice,5,10.443,6.388,7,4,3,10,2.00,82,43,11,9,0.40,0.20,0.60,0.60,0.20
Lens,5,11.541,10.070,10,8,2,9,1.80,64,75,18,15,0.60,0.20,0.20,0.40,0.60
Reims,5,7.660,6.902,6,5,1,8,1.60,73,39,7,10,0.60,0.20,0.40,0.60,0.20
Angers,5,5.632,5.854,6,6,0,7,1.40,64,56,6,6,0.80,0.00,0.20,0.20,0.80
Auxerre,6,9.293,12.972,7,8,-1,8,1.33,76,84,12,20,0.83,0.00,0.17,0.50,0.50
Montpellier,5,9.471,5.691,5,3,2,6,1.20,78,75,9,3,0.40,0.40,0.60,0.60,0.00
Strasbourg,5,6.768,8.347,6,10,-4,6,1.20,66,62,10,11,0.80,0.20,0.00,0.20,0.80
Le Havre,5,8.386,9.330,7,7,0,6,1.20,75,58,9,12,0.60,0.40,0.00,0.40,0.60
Ajaccio,5,1.580,7.315,1,8,-7,5,1.00,22,66,1,9,0.00,0.80,0.60,0.20,0.40
Toulouse,6,8.771,6.403,6,8,-2,5,0.83,89,64,8,8,0.67,0.33,0.17,0.33,0.50
Monaco,5,8.181,5.570,5,7,-2,4,0.80,95,43,9,8,0.60,0.20,0.20,0.40,0.60
Lorient,5,7.855,7.582,8,10,-2,4,0.80,58,74,12,8,0.60,0.20,0.20,0.20,0.80
Clermont Foot,4,4.605,5.671,3,5,-2,3,0.75,51,58,5,5,0.75,0.25,0.25,0.25,0.50
Nantes,5,7.461,7.726,2,7,-5,3,0.60,64,66,8,9,0.20,0.60,0.20,0.20,0.80
Troyes,5,2.677,14.051,3,8,-5,2,0.40,41,106,2,16,0.60,0.40,0.00,0.00,1.00
Metz,5,4.688,4.599,2,7,-5,0,0.00,64,37,5,7,0.40,0.60,0.00,0.20,0.80

In [137]:
ger_l10_table_h,ger_l10_table_a = home_away_table_form(ger_l10)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/Bundesliga_last10.xlsx") as writer:
    ger_l10_table_h.to_excel(writer, sheet_name="last10_home")
    ger_l10_table_a.to_excel(writer, sheet_name="last10_away")

ger_l10_table_h

,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,,,,,,,,,,,,,,,,,
Bayer Leverkusen,5,11.988,1.993,12,1,11,13,2.60,89,35,16,1,0.20,0.20,0.80,0.80,0.00
Bayern Munich,6,15.025,4.193,12,3,9,15,2.50,124,51,20,5,0.33,0.17,0.50,0.67,0.33
Union Berlin,4,7.544,4.351,6,2,4,10,2.50,52,59,12,4,0.25,0.00,0.75,0.75,0.25
Bochum,5,9.009,7.880,9,4,5,11,2.20,65,85,14,6,0.60,0.00,0.40,0.80,0.20
Eintracht Frankfurt,5,8.750,6.465,11,5,6,11,2.20,60,63,13,9,0.80,0.00,0.20,0.60,0.40
VfB Stuttgart,5,12.715,5.247,13,5,8,11,2.20,81,57,19,8,0.80,0.00,0.20,1.00,0.00
RasenBallsport Leipzig,5,11.089,5.918,9,5,4,9,1.80,95,57,11,7,0.40,0.20,0.40,0.80,0.20
Schalke 04,4,5.460,7.259,9,8,1,7,1.75,56,45,6,11,0.75,0.25,0.00,0.50,0.50
Freiburg,5,12.521,7.535,9,8,1,8,1.60,72,59,18,10,0.60,0.20,0.40,0.40,0.40
Borussia M.Gladbach,5,10.517,7.600,11,7,4,8,1.60,83,68,12,12,0.80,0.20,0.20,0.60,0.20
Werder Bremen,5,8.882,7.449,8,5,3,8,1.60,67,58,11,10,0.80,0.00,0.20,0.60,0.40
FC Heidenheim,5,6.549,6.529,8,7,1,8,1.60,62,78,7,6,0.80,0.20,0.20,0.20,0.60
Borussia Dortmund,5,12.440,6.738,11,8,3,7,1.40,98,63,14,9,0.80,0.00,0.20,0.60,0.40
Hoffenheim,5,10.467,6.223,8,7,1,6,1.20,82,68,11,9,0.80,0.20,0.00,0.40,0.60
Augsburg,5,8.101,9.847,7,8,-1,5,1.00,69,75,10,13,0.80,0.20,0.00,0.40,0.60
Mainz 05,5,6.665,3.741,3,4,-1,5,1.00,87,47,5,3,0.40,0.40,0.20,0.40,0.60
Hertha Berlin,4,5.035,7.657,5,7,-2,4,1.00,46,62,8,10,0.75,0.25,0.00,0.50,0.50
FC Cologne,5,5.113,9.180,3,6,-3,5,1.00,66,57,5,13,0.20,0.60,0.40,0.40,0.40
Wolfsburg,5,7.561,7.374,5,7,-2,3,0.60,53,59,10,10,0.80,0.20,0.00,0.00,1.00
Darmstadt,5,6.306,9.066,3,10,-7,1,0.20,65,69,8,12,0.40,0.60,0.00,0.00,1.00

In [138]:
ita_l10_table_h,ita_l10_table_a = home_away_table_form(ita_l10)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/SerieA_last10.xlsx") as writer:
    ita_l10_table_h.to_excel(writer, sheet_name="last10_home")
    ita_l10_table_a.to_excel(writer, sheet_name="last10_away")

ita_l10_table_h

,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,,,,,,,,,,,,,,,,,
Inter,5,14.843,3.517,13,1,12,15,3.00,91,39,22,4,0.20,0.00,0.80,1.00,0.00
Atalanta,5,15.696,5.550,14,1,13,15,3.00,99,55,21,8,0.20,0.00,0.80,1.00,0.00
Bologna,6,10.034,5.426,14,3,11,16,2.67,95,60,15,7,0.33,0.00,0.67,0.67,0.33
AC Milan,5,9.444,5.323,8,4,4,11,2.20,81,59,12,5,0.60,0.00,0.40,0.80,0.20
Roma,6,12.021,4.958,14,8,6,13,2.17,78,63,18,5,0.67,0.00,0.33,0.67,0.33
Cremonese,5,4.987,5.807,7,6,1,10,2.00,60,77,4,7,0.40,0.00,0.60,0.80,0.20
Napoli,4,8.358,2.719,5,3,2,8,2.00,89,32,11,2,0.75,0.25,0.25,0.00,0.75
Fiorentina,5,11.757,4.141,10,5,5,10,2.00,76,42,19,4,0.60,0.20,0.20,0.40,0.60
Juventus,5,7.644,3.182,8,4,4,10,2.00,70,50,8,2,0.40,0.20,0.40,0.80,0.20
Lazio,4,4.437,3.434,5,3,2,7,1.75,43,38,6,4,0.50,0.25,0.50,0.50,0.25
Genoa,5,5.611,8.341,6,6,0,8,1.60,77,60,5,10,0.60,0.20,0.40,0.20,0.60
Torino,5,7.522,2.954,6,3,3,8,1.60,73,38,8,3,0.20,0.40,0.60,0.40,0.40
Verona,5,6.216,6.184,7,5,2,8,1.60,64,64,7,7,0.60,0.20,0.20,0.80,0.20
Monza,5,4.640,9.329,6,8,-2,7,1.40,51,74,4,10,0.40,0.40,0.40,0.40,0.40
Lecce,4,5.710,7.966,4,10,-6,4,1.00,57,50,7,12,0.50,0.50,0.00,0.50,0.50
Empoli,5,5.131,6.057,4,6,-2,5,1.00,67,61,5,5,0.20,0.60,0.40,0.20,0.60
Cagliari,5,5.555,6.515,5,7,-2,5,1.00,66,54,7,10,0.80,0.20,0.20,0.00,0.80
Udinese,5,4.976,4.698,7,6,1,5,1.00,77,44,5,5,0.60,0.20,0.40,0.40,0.40
Sassuolo,5,5.517,9.373,6,12,-6,4,0.80,54,77,5,10,0.80,0.00,0.20,0.80,0.20
Spezia,4,5.269,6.571,2,9,-7,3,0.75,41,46,6,10,0.00,0.75,0.25,0.25,0.75
Frosinone,5,7.628,7.171,8,12,-4,3,0.60,70,55,8,8,0.80,0.20,0.00,0.00,1.00
Sampdoria,5,8.094,9.966,6,9,-3,3,0.60,63,87,11,12,0.80,0.20,0.00,0.80,0.20
Salernitana,6,6.223,12.443,6,13,-7,1,0.17,78,83,7,18,0.83,0.17,0.00,0.33,0.67

In [139]:
spa_l10_table_h,spa_l10_table_a = home_away_table_form(spa_l10)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/LaLiga_last10.xlsx") as writer:
    spa_l10_table_h.to_excel(writer, sheet_name="last10_home")
    spa_l10_table_a.to_excel(writer, sheet_name="last10_away")

spa_l10_table_h

,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,,,,,,,,,,,,,,,,,
Athletic Club,5,12.809,3.945,12,3,9,15,3.00,72,39,17,4,0.40,0.00,0.60,1.00,0.00
Real Madrid,6,15.044,4.693,14,4,10,16,2.67,106,39,18,7,0.50,0.00,0.50,0.83,0.17
Girona,5,9.515,4.830,15,4,11,13,2.60,63,57,14,8,0.40,0.20,0.60,0.60,0.20
Atletico Madrid,5,10.456,4.316,13,4,9,13,2.60,53,68,18,3,0.40,0.00,0.60,1.00,0.00
Osasuna,5,7.765,5.199,7,5,2,12,2.40,66,34,12,9,0.20,0.20,0.60,0.80,0.20
Valencia,5,6.819,6.529,7,3,4,11,2.20,49,46,9,9,0.60,0.20,0.40,0.60,0.20
Barcelona,5,13.797,7.074,14,10,4,10,2.00,95,51,17,10,0.60,0.00,0.40,0.80,0.20
Elche,5,9.353,6.205,7,4,3,8,1.60,73,55,14,8,0.40,0.20,0.40,0.40,0.60
Villarreal,4,7.041,4.084,5,4,1,6,1.50,69,42,7,4,0.75,0.25,0.25,0.50,0.25
Real Betis,6,8.916,7.550,8,7,1,9,1.50,95,57,13,10,0.67,0.17,0.33,0.33,0.50
Getafe,4,4.976,8.455,5,6,-1,6,1.50,32,52,7,14,0.25,0.50,0.25,0.50,0.50
Mallorca,5,7.077,5.415,7,7,0,7,1.40,58,56,12,6,0.80,0.20,0.00,0.40,0.60
Real Valladolid,5,7.664,8.933,6,9,-3,7,1.40,86,59,9,14,0.40,0.40,0.40,0.40,0.40
Las Palmas,6,6.090,8.195,9,6,3,8,1.33,51,71,7,11,0.67,0.00,0.33,0.83,0.17
Celta Vigo,5,5.859,6.196,4,5,-1,6,1.20,59,56,6,8,0.40,0.40,0.20,0.20,0.80
Espanyol,5,10.335,10.031,9,10,-1,6,1.20,84,60,11,16,0.60,0.20,0.40,0.20,0.60
Sevilla,4,6.622,7.049,4,6,-2,4,1.00,50,58,10,9,0.50,0.25,0.25,0.50,0.50
Alaves,5,6.039,6.287,4,6,-2,5,1.00,60,53,7,9,0.60,0.20,0.20,0.60,0.40
Granada,6,8.208,6.392,5,7,-2,6,1.00,73,86,10,7,0.50,0.33,0.17,0.33,0.67
Almeria,5,5.621,6.320,2,5,-3,4,0.80,65,66,8,6,0.20,0.80,0.60,0.00,0.40
Real Sociedad,5,6.491,4.819,2,5,-3,3,0.60,76,39,7,7,0.40,0.60,0.40,0.00,0.60
Cadiz,5,5.414,4.810,3,8,-5,3,0.60,62,45,6,7,0.40,0.60,0.40,0.00,0.60
Rayo Vallecano,4,5.957,3.919,2,6,-4,1,0.25,53,39,9,6,0.50,0.50,0.00,0.00,1.00