In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [84]:
eng_df = pd.read_excel(r'EPL_understat.xlsx')
eng_df = eng_df.sort_values(by='date',ascending=False)
fra_df = pd.read_excel(r'Ligue1_understat.xlsx')
fra_df = fra_df.sort_values(by='date',ascending=False)
ger_df = pd.read_excel(r'Bundesliga_understat.xlsx')
ger_df = ger_df.sort_values(by='date',ascending=False)
ita_df = pd.read_excel(r'SerieA_understat.xlsx')
ita_df = ita_df.sort_values(by='date',ascending=False)
spa_df = pd.read_excel(r'LaLiga_understat.xlsx')
spa_df = spa_df.sort_values(by='date',ascending=False)

eng_h = pd.read_excel(r'EPL_Home_Away.xlsx',sheet_name='home')
eng_a = pd.read_excel(r'EPL_Home_Away.xlsx',sheet_name='away')
fra_h = pd.read_excel(r'Ligue1_Home_Away.xlsx',sheet_name='home')
fra_a = pd.read_excel(r'Ligue1_Home_Away.xlsx',sheet_name='away')
ger_h = pd.read_excel(r'Bundesliga_Home_Away.xlsx',sheet_name='home')
ger_a = pd.read_excel(r'Bundesliga_Home_Away.xlsx',sheet_name='away')
ita_h = pd.read_excel(r'SerieA_Home_Away.xlsx',sheet_name='home')
ita_a = pd.read_excel(r'SerieA_Home_Away.xlsx',sheet_name='away')
spa_h = pd.read_excel(r'LaLiga_Home_Away.xlsx',sheet_name='home')
spa_a = pd.read_excel(r'LaLiga_Home_Away.xlsx',sheet_name='away')

In [85]:
def find_ranks(home_df,away_df):
    q1_h = home_df['PPG'].quantile(0.25)
    q1_a = away_df['PPG'].quantile(0.25)
    q3_h = home_df['PPG'].quantile(0.75)
    q3_a = away_df['PPG'].quantile(0.75)
    home_df['Rank'] = home_df.apply(lambda x: 3 if x['PPG'] <= q1_h else( 1 if x['PPG'] >= q3_h else 2), axis=1) 
    away_df['Rank'] = away_df.apply(lambda x: 3 if x['PPG'] <= q1_a else( 1 if x['PPG'] >= q3_a else 2), axis=1) 

    return home_df,away_df

In [86]:
eng_h_rank,eng_a_rank = find_ranks(eng_h,eng_a)
fra_h_rank,fra_a_rank = find_ranks(fra_h,fra_a)
ger_h_rank,ger_a_rank = find_ranks(ger_h,ger_a)
ita_h_rank,ita_a_rank = find_ranks(ita_h,ita_a)
spa_h_rank,spa_a_rank = find_ranks(spa_h,spa_a)

spa_a_rank

,Team,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%,Rank
0,Real Madrid,18,32.034,24.859,29,17,12,36,2.00,268,210,45,33,0.50,0.11,0.39,0.50,0.50,1
1,Barcelona,18,35.762,19.750,35,24,11,33,1.83,245,196,51,28,0.78,0.11,0.22,0.50,0.39,1
2,Girona,20,32.205,39.411,32,26,6,34,1.70,231,334,44,46,0.65,0.20,0.25,0.40,0.50,1
3,Real Sociedad,19,26.653,24.708,21,18,3,27,1.42,231,221,35,31,0.47,0.32,0.42,0.37,0.42,1
4,Athletic Club,19,26.257,23.160,19,23,-4,25,1.32,231,213,32,29,0.47,0.37,0.32,0.42,0.42,1
5,Villarreal,18,23.527,33.325,27,33,-6,23,1.28,179,287,33,42,0.83,0.11,0.11,0.50,0.44,2
6,Real Betis,18,19.378,31.466,17,25,-8,22,1.22,197,265,24,44,0.50,0.33,0.33,0.56,0.28,2
7,Atletico Madrid,19,31.107,31.725,32,26,6,23,1.21,223,285,48,36,0.42,0.37,0.26,0.42,0.53,2
8,Sevilla,19,19.411,29.642,23,22,1,23,1.21,201,276,25,42,0.42,0.32,0.37,0.42,0.47,2
9,Las Palmas,13,10.355,24.081,9,16,-7,14,1.08,137,179,14,32,0.31,0.54,0.15,0.38,0.62,2
10,Osasuna,19,17.435,34.371,19,28,-9,19,1.00,181,270,20,43,0.53,0.26,0.26,0.42,0.53,2
11,Valencia,19,19.963,28.231,21,30,-9,19,1.00,183,187,29,41,0.58,0.32,0.11,0.37,0.63,2
12,Rayo Vallecano,20,21.005,30.303,15,30,-15,17,0.85,220,245,25,44,0.35,0.45,0.35,0.35,0.50,2
13,Alaves,13,14.019,19.510,11,16,-5,11,0.85,155,172,17,25,0.46,0.46,0.23,0.38,0.46,2
14,Getafe,21,21.757,35.090,21,35,-14,15,0.71,203,288,23,48,0.48,0.43,0.24,0.38,0.48,2
15,Mallorca,19,23.546,36.754,17,36,-19,12,0.63,189,296,30,46,0.47,0.42,0.16,0.21,0.74,3
16,Celta Vigo,19,19.465,35.119,24,33,-9,12,0.63,190,263,24,47,0.63,0.32,0.16,0.37,0.53,3
17,Cadiz,19,18.002,42.682,10,29,-19,10,0.53,169,287,22,65,0.37,0.58,0.16,0.32,0.58,3
18,Almeria,20,21.049,43.724,24,47,-23,7,0.35,200,345,25,51,0.80,0.20,0.00,0.40,0.60,3
19,Granada,12,11.783,21.393,11,27,-16,2,0.17,110,153,12,33,0.42,0.58,0.00,0.00,1.00,3

In [87]:
# Apply rank to overall dataframe, and then group in tables by rank like in home vs away
def rank_to_df(rank_df_h,rank_df_a,df):
    rank1_h = rank_df_h.loc[rank_df_h['Rank'] == 1, ['Team']].values.T.tolist()
    rank2_h = rank_df_h.loc[rank_df_h['Rank'] == 2, ['Team']].values.T.tolist()
    rank3_h = rank_df_h.loc[rank_df_h['Rank'] == 3, ['Team']].values.T.tolist()
    rank1_a = rank_df_a.loc[rank_df_a['Rank'] == 1, ['Team']].values.T.tolist()
    rank2_a = rank_df_a.loc[rank_df_a['Rank'] == 2, ['Team']].values.T.tolist()
    rank3_a = rank_df_a.loc[rank_df_a['Rank'] == 3, ['Team']].values.T.tolist()

    df['Rank'] = df.apply(lambda x: 1 if x['H/A'] =="a" and x['Opp'] in rank1_h[0] else(1 if x['H/A'] == "h" and x['Opp'] in rank1_a[0] else
                                                                                     (2 if x['H/A'] == "a" and x['Opp'] in rank2_h[0] else
                                                                                      (2 if x['H/A'] == "h" and x['Opp'] in rank2_a[0] else
                                                                                       (3 if x['H/A'] == "a" and x['Opp'] in rank3_h[0] else 3
                                                                                       )))), axis=1) 
    return df

In [88]:
eng_df = rank_to_df(eng_h_rank,eng_a_rank,eng_df)
fra_df = rank_to_df(fra_h_rank,fra_a_rank,fra_df)
ger_df = rank_to_df(ger_h_rank,ger_a_rank,ger_df)
ita_df = rank_to_df(ita_h_rank,ita_a_rank,ita_df)
spa_df = rank_to_df(spa_h_rank,spa_a_rank,spa_df)

spa_df

,Unnamed: 0,date,ID,Team,H/A,xG,xGC,G,GC,S,...,QS,QSC,Pts,Opp,BTTS,Blank,CS,first_goal,first_conc,Rank
10,0,2024-02-26 20:00:00,Girona22938,Girona,h,3.153,0.565,3,0,14,...,5,1,3,Rayo Vallecano,0,0,1,1,0,2
11,0,2024-02-26 20:00:00,Rayo Vallecano22938,Rayo Vallecano,a,0.565,3.153,0,3,7,...,1,5,0,Girona,0,1,0,0,1,1
8,0,2024-02-25 20:00:00,Real Madrid22939,Real Madrid,h,1.016,0.967,1,0,16,...,1,2,3,Sevilla,0,0,1,1,0,2
9,0,2024-02-25 20:00:00,Sevilla22939,Sevilla,a,0.967,1.016,0,1,4,...,2,1,0,Real Madrid,0,1,0,0,1,1
4,0,2024-02-25 17:30:00,Las Palmas22942,Las Palmas,h,0.982,0.388,1,1,9,...,1,0,1,Osasuna,1,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,0,2023-04-01 12:00:00,Espanyol19228,Espanyol,a,0.946,1.450,1,2,5,...,1,1,0,Girona,1,0,0,0,1,1
752,0,2023-03-31 20:00:00,Mallorca19224,Mallorca,h,0.434,0.508,0,0,10,...,0,0,1,Osasuna,0,1,1,0,0,2
753,0,2023-03-31 20:00:00,Osasuna19224,Osasuna,a,0.508,0.434,0,0,11,...,0,0,1,Mallorca,0,1,1,0,0,2
758,0,2023-03-18 15:15:00,Rayo Vallecano19221,Rayo Vallecano,h,1.720,1.783,2,2,15,...,2,2,1,Girona,1,0,0,1,0,1
759,0,2023-03-18 15:15:00,Girona19221,Girona,a,1.783,1.720,2,2,12,...,2,2,1,Rayo Vallecano,1,0,0,0,1,3

In [89]:
def table_creator(df):
    df['match_ID'] = df['ID'].apply(lambda x:x[-5:])
    df['match_ID'] = pd.to_numeric(df['match_ID'])
    df['played'] = 1
    # df = df[~(df['match_ID'] <= 21925)]
    df_ov = df.groupby(["Team"]).agg({'played':'sum', 'xG':'sum','xGC':'sum', 'G':'sum', 'GC':'sum', 'Pts':'sum',
                                      'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum'})
    df_ov['played'] = pd.to_numeric(df_ov['played'])
    df_ov['Pts'] = pd.to_numeric(df_ov['Pts'])
    df_ov['G'] = pd.to_numeric(df_ov['G'])
    df_ov['GC'] = pd.to_numeric(df_ov['GC'])
    df_ov['GD'] = df_ov['G'] - df_ov['GC']
    df_ov['PPG'] = round(df_ov['Pts'] / df_ov['played'],2)
    df_ov = df_ov[~(df_ov['played'] <= 20)]
    df_ov = df_ov[['played','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS','Blank','CS','first_goal','first_conc']]
    df_ov = df_ov.sort_values('PPG', ascending=False)
    return df_ov

In [90]:
eng_ov_df = table_creator(eng_df)
fra_ov_df = table_creator(fra_df)
ger_ov_df = table_creator(ger_df)
ita_ov_df = table_creator(ita_df)
spa_ov_df = table_creator(spa_df)
eng_ov_df

,played,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS,Blank,CS,first_goal,first_conc
Team,,,,,,,,,,,,,,,
Manchester City,38,87,34,53,90,2.37,640,306,107,46,23,3,12,27,11
Liverpool,38,91,44,47,84,2.21,691,406,127,73,26,2,11,22,15
Arsenal,38,91,41,50,79,2.08,601,352,102,54,20,5,13,28,10
Aston Villa,38,74,42,32,76,2.00,524,406,93,78,23,5,11,23,14
Manchester United,38,52,44,8,67,1.76,604,576,88,72,16,11,13,20,16
Tottenham,38,76,66,10,62,1.63,575,516,84,92,31,1,6,26,15
Newcastle United,38,78,59,19,61,1.61,558,488,113,67,23,7,9,20,17
Brighton,38,74,61,13,57,1.50,640,439,99,64,30,4,6,17,19
West Ham,38,58,63,-5,56,1.47,449,622,71,93,22,8,9,20,17
Wolverhampton Wanderers,39,53,63,-10,55,1.41,441,585,59,91,23,7,10,18,20
Bournemouth,37,46,65,-19,46,1.24,466,548,66,75,19,11,8,16,20
Crystal Palace,38,50,60,-10,46,1.21,468,440,52,74,22,10,9,13,22
Chelsea,37,56,63,-7,44,1.19,505,513,90,80,24,9,5,14,22
Everton,38,43,53,-10,45,1.18,518,547,87,74,17,13,11,16,19
Fulham,38,53,61,-8,45,1.18,458,527,58,98,19,14,7,16,20
Brentford,38,53,61,-8,43,1.13,471,552,87,78,23,8,7,22,16
Nottingham Forest,38,51,70,-19,36,0.95,394,523,58,79,26,8,5,18,19
Luton,25,35,51,-16,20,0.80,306,431,40,87,19,4,2,8,17
Sheffield United,26,22,66,-44,13,0.50,240,449,32,76,14,11,1,6,20
Burnley,26,25,58,-33,13,0.50,263,399,31,58,14,10,2,10,16

In [97]:
def home_away_rank_table(df):
    df_h_a = df.groupby(["Team","H/A","Rank"]).agg({'played':'sum', 'xG':'sum', 'xGC':'sum','G':'sum', 'GC':'sum', 'Pts':'sum',
                                             'S':'sum', 'SC':'sum', 'QS': 'sum','QSC':'sum',
                                             'BTTS':'sum', 'Blank':'sum', 'CS':'sum','first_goal':'sum','first_conc':'sum'})
    h_a_sep = [x for _, x in df_h_a.groupby(["H/A","Rank"])]
    r1_h_table = h_a_sep[3].droplevel("H/A")
    r2_h_table = h_a_sep[4].droplevel("H/A")
    r3_h_table = h_a_sep[5].droplevel("H/A")
    r1_a_table = h_a_sep[0].droplevel("H/A")
    r2_a_table = h_a_sep[1].droplevel("H/A")
    r3_a_table = h_a_sep[2].droplevel("H/A")

    r1_h_table = r1_h_table.apply(pd.to_numeric)
    r2_h_table = r2_h_table.apply(pd.to_numeric)
    r3_h_table = r3_h_table.apply(pd.to_numeric)
    r1_a_table = r1_a_table.apply(pd.to_numeric)
    r2_a_table = r2_a_table.apply(pd.to_numeric)
    r3_a_table = r3_a_table.apply(pd.to_numeric)
   
    r1_h_table['GD'] = r1_h_table['G'] - r1_h_table['GC']
    r2_h_table['GD'] = r2_h_table['G'] - r2_h_table['GC']
    r3_h_table['GD'] = r3_h_table['G'] - r3_h_table['GC']
    r1_a_table['GD'] = r1_a_table['G'] - r1_a_table['GC']
    r2_a_table['GD'] = r2_a_table['G'] - r2_a_table['GC']
    r3_a_table['GD'] = r3_a_table['G'] - r3_a_table['GC']

    r1_h_table['PPG'] = round(r1_h_table['Pts'] / r1_h_table['played'],2)
    r2_h_table['PPG'] = round(r2_h_table['Pts'] / r2_h_table['played'],2)
    r3_h_table['PPG'] = round(r3_h_table['Pts'] / r3_h_table['played'],2)
    r1_a_table['PPG'] = round(r1_a_table['Pts'] / r1_a_table['played'],2)
    r2_a_table['PPG'] = round(r2_a_table['Pts'] / r2_a_table['played'],2)
    r3_a_table['PPG'] = round(r3_a_table['Pts'] / r3_a_table['played'],2)
     
    r1_h_table['BTTS%'] = round(r1_h_table['BTTS'] / r1_h_table['played'],2)
    r2_h_table['BTTS%'] = round(r2_h_table['BTTS'] / r2_h_table['played'],2)
    r3_h_table['BTTS%'] = round(r3_h_table['BTTS'] / r3_h_table['played'],2)
    r1_a_table['BTTS%'] = round(r1_a_table['BTTS'] / r1_a_table['played'],2)
    r2_a_table['BTTS%'] = round(r2_a_table['BTTS'] / r2_a_table['played'],2)
    r3_a_table['BTTS%'] = round(r3_a_table['BTTS'] / r3_a_table['played'],2)
     
    r1_h_table['Blank%'] = round(r1_h_table['Blank'] / r1_h_table['played'],2)
    r2_h_table['Blank%'] = round(r2_h_table['Blank'] / r2_h_table['played'],2)
    r3_h_table['Blank%'] = round(r3_h_table['Blank'] / r3_h_table['played'],2)
    r1_a_table['Blank%'] = round(r1_a_table['Blank'] / r1_a_table['played'],2)
    r2_a_table['Blank%'] = round(r2_a_table['Blank'] / r2_a_table['played'],2)
    r3_a_table['Blank%'] = round(r3_a_table['Blank'] / r3_a_table['played'],2)
     
    r1_h_table['CS%'] = round(r1_h_table['CS'] / r1_h_table['played'],2)
    r2_h_table['CS%'] = round(r2_h_table['CS'] / r2_h_table['played'],2)
    r3_h_table['CS%'] = round(r3_h_table['CS'] / r3_h_table['played'],2)
    r1_a_table['CS%'] = round(r1_a_table['CS'] / r1_a_table['played'],2)
    r2_a_table['CS%'] = round(r2_a_table['CS'] / r2_a_table['played'],2)
    r3_a_table['CS%'] = round(r3_a_table['CS'] / r3_a_table['played'],2)
     
    r1_h_table['FG%'] = round(r1_h_table['first_goal'] / r1_h_table['played'],2)
    r2_h_table['FG%'] = round(r2_h_table['first_goal'] / r2_h_table['played'],2)
    r3_h_table['FG%'] = round(r3_h_table['first_goal'] / r3_h_table['played'],2)
    r1_a_table['FG%'] = round(r1_a_table['first_goal'] / r1_a_table['played'],2)
    r2_a_table['FG%'] = round(r2_a_table['first_goal'] / r2_a_table['played'],2)
    r3_a_table['FG%'] = round(r3_a_table['first_goal'] / r3_a_table['played'],2)

    r1_h_table['FC%'] = round(r1_h_table['first_conc'] / r1_h_table['played'],2)
    r2_h_table['FC%'] = round(r2_h_table['first_conc'] / r2_h_table['played'],2)
    r3_h_table['FC%'] = round(r3_h_table['first_conc'] / r3_h_table['played'],2)
    r1_a_table['FC%'] = round(r1_a_table['first_conc'] / r1_a_table['played'],2)
    r2_a_table['FC%'] = round(r2_a_table['first_conc'] / r2_a_table['played'],2)
    r3_a_table['FC%'] = round(r3_a_table['first_conc'] / r3_a_table['played'],2)

    r1_h_table = r1_h_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    r2_h_table = r2_h_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    r3_h_table = r3_h_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    r1_a_table = r1_a_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    r2_a_table = r2_a_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]
    r3_a_table = r3_a_table[['played','xG','xGC','G','GC','GD','Pts','PPG','S','SC','QS','QSC','BTTS%','Blank%','CS%','FG%','FC%']]

    r1_h_table = r1_h_table.sort_values('PPG', ascending=False)
    r2_h_table = r2_h_table.sort_values('PPG', ascending=False)
    r3_h_table = r3_h_table.sort_values('PPG', ascending=False)
    r1_a_table = r1_a_table.sort_values('PPG', ascending=False)
    r2_a_table = r2_a_table.sort_values('PPG', ascending=False)
    r3_a_table = r3_a_table.sort_values('PPG', ascending=False)

    return r1_h_table, r2_h_table, r3_h_table, r1_a_table, r2_a_table, r3_a_table

In [106]:
r1_h_eng,r2_h_eng,r3_h_eng,r1_a_eng,r2_a_eng,r3_a_eng = home_away_rank_table(eng_df)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/EPL_rank.xlsx") as writer:
    r1_h_eng.to_excel(writer, sheet_name="rank1_home")
    r2_h_eng.to_excel(writer, sheet_name="rank2_home")
    r3_h_eng.to_excel(writer, sheet_name="rank3_home")
    r1_a_eng.to_excel(writer, sheet_name="rank1_away")
    r2_a_eng.to_excel(writer, sheet_name="rank2_away")
    r3_a_eng.to_excel(writer, sheet_name="rank3_away")

r3_h_eng

,,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,Rank,,,,,,,,,,,,,,,,,
Liverpool,3,6,17.423,5.728,18,7,11,18,3.00,134,60,25,9,0.67,0.00,0.33,0.83,0.17
West Ham,3,4,9.434,3.366,9,3,6,12,3.00,67,47,13,2,0.50,0.00,0.50,0.75,0.25
Tottenham,3,3,5.557,3.165,7,2,5,9,3.00,58,26,6,4,0.67,0.00,0.33,0.67,0.33
Manchester City,3,6,11.941,6.486,17,4,13,18,3.00,76,42,15,9,0.67,0.00,0.33,1.00,0.00
Aston Villa,3,7,16.465,5.442,17,7,10,19,2.71,98,49,19,7,0.71,0.00,0.29,0.86,0.14
Bournemouth,3,5,10.413,3.633,12,4,8,13,2.60,62,47,14,2,0.80,0.00,0.20,0.60,0.40
Brentford,3,5,10.405,4.532,12,5,7,13,2.60,86,44,11,7,0.80,0.00,0.20,0.60,0.40
Fulham,3,6,11.711,6.623,16,7,9,15,2.50,97,52,14,9,0.50,0.17,0.33,0.83,0.17
Arsenal,3,6,15.477,4.147,19,8,11,14,2.33,101,39,18,4,0.83,0.00,0.17,0.67,0.33
Crystal Palace,3,6,7.900,3.303,9,4,5,12,2.00,89,48,7,3,0.50,0.33,0.50,0.17,0.50
Chelsea,3,5,12.067,4.732,8,3,5,10,2.00,86,49,15,5,0.20,0.20,0.60,0.60,0.40
Manchester United,3,5,11.434,5.577,7,5,2,10,2.00,85,63,17,5,0.60,0.20,0.40,0.20,0.60
Nottingham Forest,3,4,7.267,6.201,9,7,2,8,2.00,58,49,6,10,1.00,0.00,0.00,0.75,0.25
Newcastle United,3,6,20.265,8.098,13,8,5,11,1.83,130,46,27,11,0.50,0.17,0.50,0.67,0.17
Brighton,3,5,12.161,5.341,10,5,5,9,1.80,112,39,13,6,1.00,0.00,0.00,0.80,0.20
Wolverhampton Wanderers,3,4,6.131,4.336,5,5,0,7,1.75,53,43,8,6,0.50,0.00,0.50,0.50,0.50
Burnley,3,3,5.192,2.871,8,3,5,5,1.67,44,35,7,2,0.67,0.00,0.33,0.67,0.33
Southampton,3,2,1.493,2.942,1,2,-1,3,1.50,16,20,1,5,0.00,0.50,0.50,0.50,0.50
Leeds,3,1,2.100,2.089,1,1,0,1,1.00,13,15,3,3,1.00,0.00,0.00,1.00,0.00
Everton,3,3,9.025,5.060,2,6,-4,0,0.00,57,38,14,7,0.67,0.33,0.00,0.00,1.00
Luton,3,2,3.297,2.904,2,5,-3,0,0.00,38,21,2,4,1.00,0.00,0.00,0.00,1.00
Sheffield United,3,1,4.193,0.716,2,3,-1,0,0.00,23,12,7,0,1.00,0.00,0.00,0.00,1.00

In [102]:
r1_h_fra,r2_h_fra,r3_h_fra,r1_a_fra,r2_a_fra,r3_a_fra = home_away_rank_table(fra_df)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/Ligue1_rank.xlsx") as writer:
    r1_h_fra.to_excel(writer, sheet_name="rank1_home")
    r2_h_fra.to_excel(writer, sheet_name="rank2_home")
    r3_h_fra.to_excel(writer, sheet_name="rank3_home")
    r1_a_fra.to_excel(writer, sheet_name="rank1_away")
    r2_a_fra.to_excel(writer, sheet_name="rank2_away")
    r3_a_fra.to_excel(writer, sheet_name="rank3_away")

r3_h_fra

,,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,Rank,,,,,,,,,,,,,,,,,
Auxerre,3,2,3.869,2.497,3,1,2,6,3.00,26,31,4,2,0.50,0.00,0.50,1.00,0.00
Le Havre,3,1,1.706,0.676,3,0,3,3,3.00,17,9,2,1,0.00,0.00,1.00,1.00,0.00
Lille,3,8,25.380,5.311,20,2,18,24,3.00,128,45,36,8,0.25,0.00,0.75,0.88,0.12
Monaco,3,5,8.842,4.048,13,6,7,13,2.60,75,35,12,5,0.80,0.00,0.20,0.80,0.20
Lens,3,7,16.264,5.125,18,4,14,18,2.57,108,61,22,7,0.43,0.14,0.43,0.86,0.14
Brest,3,4,5.184,3.187,8,1,7,10,2.50,48,39,6,4,0.25,0.00,0.75,1.00,0.00
Rennes,3,7,20.126,4.587,22,7,15,17,2.43,132,49,24,6,0.71,0.00,0.29,0.86,0.14
Paris Saint Germain,3,7,13.761,5.336,18,7,11,16,2.29,103,55,17,6,0.57,0.14,0.43,0.71,0.14
Reims,3,9,14.623,7.810,15,7,8,20,2.22,146,70,13,8,0.33,0.22,0.56,0.67,0.22
Nice,3,5,7.870,1.870,8,2,6,11,2.20,75,24,11,2,0.40,0.00,0.60,0.60,0.40
Marseille,3,7,19.283,5.889,15,7,8,15,2.14,115,76,28,6,0.86,0.00,0.14,0.71,0.29
Montpellier,3,4,8.978,4.072,11,3,8,8,2.00,66,47,11,3,0.50,0.00,0.50,0.50,0.50
Strasbourg,3,6,11.024,8.544,11,8,3,12,2.00,84,70,16,12,0.83,0.00,0.17,0.67,0.33
Angers,3,2,1.222,2.722,3,2,1,4,2.00,28,21,0,3,1.00,0.00,0.00,0.50,0.50
Nantes,3,6,9.885,7.448,9,7,2,11,1.83,94,47,10,11,0.33,0.33,0.50,0.50,0.33
Clermont Foot,3,8,12.042,6.260,9,6,3,14,1.75,118,61,13,9,0.50,0.25,0.25,0.25,0.75
Lyon,3,6,11.569,5.301,6,5,1,8,1.33,84,52,17,7,0.50,0.33,0.50,0.17,0.50
Toulouse,3,7,12.093,5.532,11,7,4,9,1.29,96,74,15,4,0.71,0.14,0.29,0.43,0.43
Lorient,3,9,11.286,9.035,13,11,2,11,1.22,99,105,13,11,0.44,0.33,0.33,0.33,0.56
Ajaccio,3,3,5.357,3.899,2,6,-4,3,1.00,32,29,7,5,0.33,0.67,0.00,0.00,1.00
Metz,3,4,3.284,4.498,4,4,0,4,1.00,41,44,4,7,0.50,0.50,0.25,0.25,0.50
Troyes,3,1,0.707,2.302,1,1,0,1,1.00,8,16,1,3,1.00,0.00,0.00,0.00,1.00

In [103]:
r1_h_ger,r2_h_ger,r3_h_ger,r1_a_ger,r2_a_ger,r3_a_ger = home_away_rank_table(ger_df)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/Bundesliga_rank.xlsx") as writer:
    r1_h_ger.to_excel(writer, sheet_name="rank1_home")
    r2_h_ger.to_excel(writer, sheet_name="rank2_home")
    r3_h_ger.to_excel(writer, sheet_name="rank3_home")
    r1_a_ger.to_excel(writer, sheet_name="rank1_away")
    r2_a_ger.to_excel(writer, sheet_name="rank2_away")
    r3_a_ger.to_excel(writer, sheet_name="rank3_away")

r3_h_ger

,,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,Rank,,,,,,,,,,,,,,,,,
Bayern Munich,3,7,24.193,5.815,28,5,23,21,3.00,164,58,32,8,0.43,0.00,0.57,0.71,0.29
VfB Stuttgart,3,4,10.681,3.361,11,3,8,12,3.00,64,35,17,5,0.75,0.00,0.25,0.75,0.25
Schalke 04,3,1,2.099,1.122,5,2,3,3,3.00,14,11,3,1,1.00,0.00,0.00,1.00,0.00
RasenBallsport Leipzig,3,7,11.728,9.094,17,7,10,18,2.57,98,94,14,9,0.29,0.14,0.57,0.71,0.29
Werder Bremen,3,4,7.143,2.551,9,1,8,10,2.50,50,44,10,2,0.25,0.00,0.75,1.00,0.00
Union Berlin,3,4,10.663,6.400,9,3,6,10,2.50,63,48,17,7,0.75,0.00,0.25,0.75,0.25
Borussia Dortmund,3,6,20.676,7.216,18,10,8,14,2.33,139,64,26,11,1.00,0.00,0.00,0.67,0.33
Eintracht Frankfurt,3,6,8.953,4.383,9,3,6,14,2.33,75,48,10,6,0.50,0.00,0.50,0.67,0.33
Bayer Leverkusen,3,5,13.330,3.546,13,4,9,11,2.20,101,34,21,5,0.60,0.20,0.40,0.80,0.00
FC Heidenheim,3,3,4.411,6.066,6,7,-1,6,2.00,42,49,5,7,0.67,0.00,0.33,1.00,0.00
Hoffenheim,3,6,12.258,8.130,13,8,5,11,1.83,86,80,15,10,0.67,0.17,0.17,0.67,0.33
Freiburg,3,6,11.815,6.177,11,5,6,10,1.67,93,58,13,8,0.50,0.17,0.50,0.67,0.17
FC Cologne,3,6,11.985,7.318,10,5,5,10,1.67,108,58,13,10,0.67,0.33,0.33,0.50,0.17
Augsburg,3,5,6.176,6.537,9,8,1,8,1.60,66,66,6,8,0.80,0.00,0.20,0.40,0.60
Bochum,3,5,9.715,7.439,10,8,2,8,1.60,80,73,13,6,0.80,0.00,0.20,0.80,0.20
Wolfsburg,3,5,10.547,6.631,9,6,3,8,1.60,77,54,16,10,0.80,0.00,0.20,0.60,0.40
Mainz 05,3,3,5.105,5.318,4,4,0,4,1.33,43,42,5,7,0.67,0.00,0.33,0.67,0.33
Hertha Berlin,3,1,1.618,0.388,1,1,0,1,1.00,11,6,2,0,1.00,0.00,0.00,1.00,0.00
Borussia M.Gladbach,3,5,10.349,5.429,5,5,0,5,1.00,87,60,12,9,0.40,0.40,0.40,0.60,0.20
Darmstadt,3,3,4.378,5.761,4,7,-3,2,0.67,46,46,6,9,0.67,0.33,0.33,0.33,0.33

In [104]:
r1_h_ita,r2_h_ita,r3_h_ita,r1_a_ita,r2_a_ita,r3_a_ita = home_away_rank_table(ita_df)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/SerieA_rank.xlsx") as writer:
    r1_h_ita.to_excel(writer, sheet_name="rank1_home")
    r2_h_ita.to_excel(writer, sheet_name="rank2_home")
    r3_h_ita.to_excel(writer, sheet_name="rank3_home")
    r1_a_ita.to_excel(writer, sheet_name="rank1_away")
    r2_a_ita.to_excel(writer, sheet_name="rank2_away")
    r3_a_ita.to_excel(writer, sheet_name="rank3_away")

r3_h_ita

,,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,Rank,,,,,,,,,,,,,,,,,
Juventus,3,8,17.722,3.517,15,4,11,24,3.00,146,62,19,2,0.38,0.00,0.62,1.00,0.00
Bologna,3,5,9.591,4.674,14,4,10,15,3.00,75,52,12,6,0.60,0.00,0.40,0.60,0.40
Cagliari,3,2,5.313,2.586,6,4,2,6,3.00,42,18,9,5,1.00,0.00,0.00,0.00,1.00
Sassuolo,3,2,4.697,1.324,4,1,3,6,3.00,31,22,7,1,0.50,0.00,0.50,1.00,0.00
Roma,3,6,13.649,4.963,15,3,12,18,3.00,102,61,17,6,0.50,0.00,0.50,0.67,0.33
Atalanta,3,6,15.061,6.765,17,3,14,18,3.00,103,64,19,10,0.33,0.00,0.67,0.67,0.33
Frosinone,3,3,7.875,3.040,9,4,5,9,3.00,44,43,12,3,1.00,0.00,0.00,0.33,0.67
Genoa,3,2,4.155,2.882,3,1,2,6,3.00,35,26,7,4,0.50,0.00,0.50,0.50,0.50
AC Milan,3,7,13.491,5.249,16,4,12,19,2.71,98,64,17,7,0.57,0.00,0.43,0.86,0.14
Lazio,3,6,11.237,4.977,12,5,7,16,2.67,77,68,17,4,0.50,0.00,0.50,0.83,0.17
Napoli,3,5,10.844,4.175,8,2,6,13,2.60,95,38,14,6,0.40,0.20,0.60,0.60,0.20
Fiorentina,3,7,10.937,8.244,18,4,14,17,2.43,107,61,13,13,0.43,0.00,0.57,1.00,0.00
Inter,3,5,11.281,6.424,11,5,6,12,2.40,80,61,16,9,0.60,0.00,0.40,1.00,0.00
Cremonese,3,2,1.317,1.648,3,1,2,4,2.00,21,32,1,1,0.50,0.00,0.50,1.00,0.00
Torino,3,4,6.613,1.643,4,1,3,8,2.00,52,26,11,0,0.25,0.50,0.75,0.50,0.00
Verona,3,4,5.760,6.073,7,4,3,8,2.00,58,54,7,7,0.75,0.00,0.25,0.50,0.50
Salernitana,3,3,3.495,3.031,6,3,3,5,1.67,45,33,3,3,0.67,0.00,0.33,0.33,0.67
Udinese,3,7,11.427,10.523,12,7,5,11,1.57,92,86,15,14,0.57,0.14,0.43,0.86,0.00
Sampdoria,3,4,8.354,7.937,8,7,1,5,1.25,54,75,12,9,1.00,0.00,0.00,1.00,0.00
Monza,3,5,6.688,4.044,3,3,0,6,1.20,68,45,8,3,0.40,0.40,0.40,0.20,0.60
Lecce,3,6,8.131,6.594,5,5,0,7,1.17,97,70,12,8,0.67,0.33,0.17,0.50,0.33
Empoli,3,4,6.090,4.803,5,6,-1,4,1.00,53,47,7,8,0.50,0.25,0.25,0.50,0.50

In [105]:
r1_h_spa,r2_h_spa,r3_h_spa,r1_a_spa,r2_a_spa,r3_a_spa = home_away_rank_table(spa_df)
with pd.ExcelWriter("../Excel Dataframes, EDA and Predictive Modelling/LaLiga_rank.xlsx") as writer:
    r1_h_spa.to_excel(writer, sheet_name="rank1_home")
    r2_h_spa.to_excel(writer, sheet_name="rank2_home")
    r3_h_spa.to_excel(writer, sheet_name="rank3_home")
    r1_a_spa.to_excel(writer, sheet_name="rank1_away")
    r2_a_spa.to_excel(writer, sheet_name="rank2_away")
    r3_a_spa.to_excel(writer, sheet_name="rank3_away")

r3_h_spa

,,played,xG,xGC,G,GC,GD,Pts,PPG,S,SC,QS,QSC,BTTS%,Blank%,CS%,FG%,FC%
Team,Rank,,,,,,,,,,,,,,,,,
Girona,3,6,11.928,6.428,17,7,10,18,3.00,99,54,14,7,0.67,0.00,0.33,0.67,0.33
Atletico Madrid,3,7,20.012,5.274,19,7,12,21,3.00,127,51,28,7,0.86,0.00,0.14,0.71,0.29
Real Madrid,3,6,17.425,4.719,18,4,14,18,3.00,108,52,21,5,0.33,0.00,0.67,0.83,0.17
Barcelona,3,5,16.520,5.540,14,7,7,13,2.60,107,47,25,6,0.60,0.00,0.40,0.80,0.20
Alaves,3,4,5.793,4.527,6,2,4,10,2.50,53,45,5,5,0.50,0.00,0.50,1.00,0.00
Athletic Club,3,6,17.921,4.110,16,5,11,15,2.50,115,42,24,5,0.33,0.17,0.50,0.67,0.33
Real Sociedad,3,4,7.047,4.616,8,4,4,10,2.50,56,46,10,6,0.50,0.00,0.50,1.00,0.00
Osasuna,3,6,9.790,4.486,10,5,5,15,2.50,95,43,12,6,0.33,0.17,0.50,0.67,0.33
Valencia,3,6,8.239,5.876,9,4,5,14,2.33,76,56,9,6,0.50,0.17,0.50,0.67,0.17
Sevilla,3,3,6.294,2.600,10,5,5,7,2.33,44,26,10,3,1.00,0.00,0.00,1.00,0.00
Granada,3,3,7.489,3.980,6,3,3,7,2.33,44,38,12,4,0.67,0.00,0.33,0.67,0.33
Getafe,3,7,12.184,9.069,11,6,5,16,2.29,92,86,17,10,0.57,0.00,0.43,0.71,0.29
Villarreal,3,8,19.677,11.313,16,9,7,17,2.12,134,106,25,17,0.75,0.12,0.25,0.50,0.38
Las Palmas,3,4,3.866,4.954,5,3,2,8,2.00,38,38,4,6,0.75,0.00,0.25,0.75,0.25
Real Betis,3,5,11.154,5.244,7,4,3,10,2.00,91,47,16,7,0.40,0.20,0.40,0.60,0.40
Cadiz,3,4,7.220,1.773,6,3,3,8,2.00,54,27,9,2,0.50,0.00,0.50,0.75,0.25
Mallorca,3,3,5.098,1.575,3,2,1,5,1.67,41,26,9,1,0.67,0.00,0.33,0.33,0.67
Almeria,3,6,10.812,8.837,10,7,3,9,1.50,84,82,15,8,0.50,0.33,0.50,0.50,0.17
Celta Vigo,3,6,10.197,5.824,5,5,0,8,1.33,101,44,11,10,0.33,0.33,0.33,0.33,0.67
Rayo Vallecano,3,4,6.528,3.380,5,5,0,5,1.25,68,30,7,4,0.75,0.25,0.25,0.50,0.25
Espanyol,3,2,2.039,3.162,3,3,0,2,1.00,26,22,1,4,0.50,0.50,0.50,0.00,0.50
Elche,3,1,1.534,2.230,1,1,0,1,1.00,12,14,3,3,1.00,0.00,0.00,0.00,1.00
Real Valladolid,3,1,0.949,1.987,3,3,0,1,1.00,10,14,1,3,1.00,0.00,0.00,1.00,0.00